body {
  background-color: #f8f9fa;
}

h2 {
  text-align: center;
  color: #343a40;
}

#event-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#events-list {
  margin-top: 20px;
}

#event-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-delete {
  color: red;
  cursor: pointer;
}
